Create your own dataset having 20 rows and 25 columns in a excel file and on created dataset:
A. Perform operations of loading data or doing feature engineering on data sets. Perform basic numerical computations like mean, median, range and creation of multi-dimensional arrays.

In [18]:
import pandas as pd

rawData = pd.read_csv("D:/Fundamentals of DS - BTECCE23303/Assignment_1/EmpData.csv")
rawData

,EmployeeID,FirstName,LastName,Email,Phone,Department,Position,Salary,DateOfJoining,Manager,...,Gender,DateOfBirth,StreetAddress,City,State,ZipCode,Country,EmergencyContactName,EmergencyContactPhone,Notes
0,1001,John,Doe,john.doe@example.com,555-1234,Engineering,Software Engineer,70000,2022-03-15,Michael Smith,...,M,1985-08-24,123 Elm St,New York,NY,10001,USA,Jane Doe,555-5678,NaN
1,1002,Jane,Smith,jane.smith@example.com,555-5678,Marketing,Marketing Specialist,65000,2021-07-10,Sarah Johnson,...,F,1990-11-02,456 Oak St,Los Angeles,CA,90001,USA,John Smith,555-8765,NaN
2,1003,Michael,Brown,michael.brown@example.com,NaN,HR,HR Manager,80000,2020-01-20,NaN,...,M,1982-05-15,789 Pine St,Chicago,IL,60601,USA,NaN,NaN,NaN
3,1004,Emily,Johnson,emily.johnson@example.com,555-9101,Finance,Financial Analyst,72000,2023-02-12,Robert White,...,F,1988-09-30,101 Maple St,San Francisco,CA,94101,USA,Liam Johnson,555-1122,NaN
4,1005,Daniel,Lee,daniel.lee@example.com,NaN,Engineering,Hardware Engineer,75000,NaN,James Brown,...,M,1991-01-21,202 Birch St,New York,NY,10002,USA,Emma Lee,555-3344,NaN
5,1006,Olivia,Williams,olivia.williams@example.com,555-1122,Sales,Sales Associate,60000,2022-06-25,NaN,...,F,1987-03-03,303 Cedar St,Boston,MA,2101,USA,Noah Williams,555-2233,NaN
6,1007,James,Jones,james.jones@example.com,555-3344,IT,Network Administrator,72000,2021-09-10,Emily Clark,...,M,1984-04-22,404 Spruce St,Seattle,WA,98101,USA,Lucas Jones,555-4455,NaN
7,1008,Alice,Davis,alice.davis@example.com,555-5566,Marketing,Content Writer,64000,2020-12-05,David Lewis,...,F,1992-07-14,505 Fir St,San Diego,CA,92101,USA,Evelyn Davis,555-6677,NaN
8,1009,Robert,Martinez,robert.martinez@example.com,NaN,Engineering,Software Developer,78000,2022-04-20,NaN,...,M,1989-02-28,606 Walnut St,Houston,TX,77001,USA,Grace Martinez,555-8899,NaN
9,1010,Sophia,García,sophia.garcia@example.com,555-7788,HR,Recruiter,69000,NaN,Daniel Garcia,...,F,1994-12-15,707 Palm St,Miami,FL,33101,USA,NaN,NaN,NaN
10,1011,William,Wilson,william.wilson@example.com,NaN,Finance,Accountant,71000,2023-01-15,Jennifer Lee,...,M,1983-11-05,808 Willow St,Philadelphia,PA,19101,USA,Olivia Wilson,555-9900,NaN
11,1012,Charlotte,Moore,charlotte.moore@example.com,555-9900,Sales,Sales Manager,85000,2021-05-23,Mark Turner,...,F,1986-10-12,909 Poplar St,Atlanta,GA,30301,USA,Ava Moore,555-1111,NaN
12,1013,Ethan,Martin,ethan.martin@example.com,NaN,Engineering,DevOps Engineer,76000,2022-07-15,NaN,...,M,1987-02-18,1010 Hickory St,Dallas,TX,75201,USA,NaN,NaN,NaN
13,1014,Amelia,Jackson,amelia.jackson@example.com,555-2233,Finance,Financial Planner,73000,NaN,Joshua Jackson,...,F,1993-06-30,1111 Chestnut St,Phoenix,AZ,85001,USA,Michael Jackson,555-3344,NaN
14,1015,Logan,Thompson,logan.thompson@example.com,NaN,IT,System Analyst,71000,2022-08-19,Linda Thompson,...,M,1990-12-23,1212 Sequoia St,San Jose,CA,95101,USA,Daniel Thompson,555-4455,NaN
15,1016,Isabella,White,isabella.white@example.com,555-5566,Marketing,Market Researcher,63000,2023-03-12,NaN,...,F,1991-05-25,1313 Redwood St,Seattle,WA,98101,USA,Henry White,555-5566,NaN
16,1017,Jacob,Lopez,jacob.lopez@example.com,555-6677,Engineering,Electrical Engineer,74000,NaN,Emily Lopez,...,M,1985-07-08,1414 Fir St,Boston,MA,2101,USA,NaN,NaN,NaN
17,1018,Harper,Walker,harper.walker@example.com,NaN,HR,HR Specialist,68000,2022-10-02,NaN,...,F,1988-11-13,1515 Birch St,Washington,DC,20001,USA,NaN,NaN,NaN
18,1019,Mason,Hall,mason.hall@example.com,555-7788,Sales,Sales Director,90000,NaN,Anna Hall,...,M,1983-01-17,1616 Cedar St,Denver,CO,80201,USA,James Hall,555-8899,NaN
19,1020,Ella,Young,ella.young@example.com,NaN,Marketing,Advertising Coordinator,62000,2022-04-01,NaN,...,F,1995-02-09,1717 Pine St,San Francisco,CA,94101,USA,William Young,555-9900,NaN

In [19]:
structuredData = rawData["Salary"].max()
print(structuredData)

90000

In [27]:
structuredData = rawData
structuredData["FirstName"][structuredData["Gender"] == "M"]

0        John
2     Michael
4      Daniel
6       James
8      Robert
10    William
12      Ethan
14      Logan
16      Jacob
18      Mason
Name: FirstName, dtype: object

In [29]:
structuredData.fillna("-")

,EmployeeID,FirstName,LastName,Email,Phone,Department,Position,Salary,DateOfJoining,Manager,...,Gender,DateOfBirth,StreetAddress,City,State,ZipCode,Country,EmergencyContactName,EmergencyContactPhone,Notes
0,1001,John,Doe,john.doe@example.com,555-1234,Engineering,Software Engineer,70000,2022-03-15,Michael Smith,...,M,1985-08-24,123 Elm St,New York,NY,10001,USA,Jane Doe,555-5678,-
1,1002,Jane,Smith,jane.smith@example.com,555-5678,Marketing,Marketing Specialist,65000,2021-07-10,Sarah Johnson,...,F,1990-11-02,456 Oak St,Los Angeles,CA,90001,USA,John Smith,555-8765,-
2,1003,Michael,Brown,michael.brown@example.com,-,HR,HR Manager,80000,2020-01-20,-,...,M,1982-05-15,789 Pine St,Chicago,IL,60601,USA,-,-,-
3,1004,Emily,Johnson,emily.johnson@example.com,555-9101,Finance,Financial Analyst,72000,2023-02-12,Robert White,...,F,1988-09-30,101 Maple St,San Francisco,CA,94101,USA,Liam Johnson,555-1122,-
4,1005,Daniel,Lee,daniel.lee@example.com,-,Engineering,Hardware Engineer,75000,-,James Brown,...,M,1991-01-21,202 Birch St,New York,NY,10002,USA,Emma Lee,555-3344,-
5,1006,Olivia,Williams,olivia.williams@example.com,555-1122,Sales,Sales Associate,60000,2022-06-25,-,...,F,1987-03-03,303 Cedar St,Boston,MA,2101,USA,Noah Williams,555-2233,-
6,1007,James,Jones,james.jones@example.com,555-3344,IT,Network Administrator,72000,2021-09-10,Emily Clark,...,M,1984-04-22,404 Spruce St,Seattle,WA,98101,USA,Lucas Jones,555-4455,-
7,1008,Alice,Davis,alice.davis@example.com,555-5566,Marketing,Content Writer,64000,2020-12-05,David Lewis,...,F,1992-07-14,505 Fir St,San Diego,CA,92101,USA,Evelyn Davis,555-6677,-
8,1009,Robert,Martinez,robert.martinez@example.com,-,Engineering,Software Developer,78000,2022-04-20,-,...,M,1989-02-28,606 Walnut St,Houston,TX,77001,USA,Grace Martinez,555-8899,-
9,1010,Sophia,García,sophia.garcia@example.com,555-7788,HR,Recruiter,69000,-,Daniel Garcia,...,F,1994-12-15,707 Palm St,Miami,FL,33101,USA,-,-,-
10,1011,William,Wilson,william.wilson@example.com,-,Finance,Accountant,71000,2023-01-15,Jennifer Lee,...,M,1983-11-05,808 Willow St,Philadelphia,PA,19101,USA,Olivia Wilson,555-9900,-
11,1012,Charlotte,Moore,charlotte.moore@example.com,555-9900,Sales,Sales Manager,85000,2021-05-23,Mark Turner,...,F,1986-10-12,909 Poplar St,Atlanta,GA,30301,USA,Ava Moore,555-1111,-
12,1013,Ethan,Martin,ethan.martin@example.com,-,Engineering,DevOps Engineer,76000,2022-07-15,-,...,M,1987-02-18,1010 Hickory St,Dallas,TX,75201,USA,-,-,-
13,1014,Amelia,Jackson,amelia.jackson@example.com,555-2233,Finance,Financial Planner,73000,-,Joshua Jackson,...,F,1993-06-30,1111 Chestnut St,Phoenix,AZ,85001,USA,Michael Jackson,555-3344,-
14,1015,Logan,Thompson,logan.thompson@example.com,-,IT,System Analyst,71000,2022-08-19,Linda Thompson,...,M,1990-12-23,1212 Sequoia St,San Jose,CA,95101,USA,Daniel Thompson,555-4455,-
15,1016,Isabella,White,isabella.white@example.com,555-5566,Marketing,Market Researcher,63000,2023-03-12,-,...,F,1991-05-25,1313 Redwood St,Seattle,WA,98101,USA,Henry White,555-5566,-
16,1017,Jacob,Lopez,jacob.lopez@example.com,555-6677,Engineering,Electrical Engineer,74000,-,Emily Lopez,...,M,1985-07-08,1414 Fir St,Boston,MA,2101,USA,-,-,-
17,1018,Harper,Walker,harper.walker@example.com,-,HR,HR Specialist,68000,2022-10-02,-,...,F,1988-11-13,1515 Birch St,Washington,DC,20001,USA,-,-,-
18,1019,Mason,Hall,mason.hall@example.com,555-7788,Sales,Sales Director,90000,-,Anna Hall,...,M,1983-01-17,1616 Cedar St,Denver,CO,80201,USA,James Hall,555-8899,-
19,1020,Ella,Young,ella.young@example.com,-,Marketing,Advertising Coordinator,62000,2022-04-01,-,...,F,1995-02-09,1717 Pine St,San Francisco,CA,94101,USA,William Young,555-9900,-